*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	/*font-size: ;*/
}
body{
	background: url(../img/backgroundnn.jpg);
	background-repeat: repeat;
}
/*=============================================
CABEZOTE
=============================================*/
header{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 45px;
	background: #242424;
}
header ul{
	position: relative;
	left: 670px;
	width: 500px;
	height: 45px;
}
header ul li form{
	position: absolute;
	width: 250px;
	height: 45px;
}
header ul li form input#buscar{
	width: 200px;
	height: 32px;
	color: white;
	background: #2e2e2e;
	border: 0;
}
header ul li form input#bus{
	width: 50px;
	height: 32px;
	color: gray;
	font-size: 12px;
	background: #ffffff;
	border: 0;
}
header ul li{
	float: left;
	width: 250px;
	height: 45px;
	position: relative;
	font-size: 11px;
	color: white;
	text-align: center;
	border-right: #2e2e2e;
	line-height: 45px;
}
#logo{
	position: absolute;
	top: 11px;
	left: 229px;
	width: 156px;
	height: 20px;
}
/*=============================================
BARRA DE NAVEGACION
=============================================*/
nav{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 60px;
	background: #ffffff;
}
nav ul{
	position: absolute;
	float: left;
	top: 0px;
	left: 230px;
	width: 560px;
	height: 60px;
}
nav ul li{
	float: left;
	width: 92px;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #eeeeee;
	color: #242424;
	line-height: 60px;
}
nav ul#car li{
	position: relative;
	width: 182px;
	height: 60px;
	left: 759px;
	cursor: pointer;
}
/*=============================================
SLIDE
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 461px;
}

/*=============================================
BOTONERASLIDE
=============================================*/
#botoneraslide{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 90px;
	background: #2e2e2e;
}
#botoneraslide ul#linea{
	position: absolute;
	top: 0px;
	left: 220px;
	width: 960px;
	height: 29px;
}
#botoneraslide ul#lintex{
	position: absolute;
	top: 29px;
	left: 220px;
	width: 960px;
	height: 41px;
}
#botoneraslide ul#lintex li{
	position: relative;
	float: left;
	width: 192px;
	height: 41px;
}
#botoneraslide ul#lintex li h1{
	font-size: 20px;
	text-align: center;
	color: #929292;
}
#botoneraslide ul#lintex li h3{
	font-size: 13px;
	text-align: center;
	color: #787878;
}
/*=============================================
FOTOSSLIDE
=============================================*/
#fotosslide{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 230px;
	background: #242424;
}
#fotosslide #cajasfotos{
	position: absolute;
	top: 25px;
	left: 220px;
	width: 960px;
	height: 180px;
}
#fotosslide #cajasfotos ul li{
	float: left;
	width: 300px;
	height: 180px;
	margin: 0px 10px;
}
#fotosslide #cajasfotos ul li img{
	float: left;
	width: 300px;
	height: 180px;
}
#fotosslide #cajasfotos ul li p{
	position: absolute;
	margin: 61px 59px;
	z-index: 1;
	background: rgba(0,0,0,0.7);
	color: white;
	width: 19%;
	height: 33%;
	line-height: 57px;
	text-align: center;
	font-size: 22px;
}
/*=============================================
SECCION
=============================================*/
section{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 766px;
	background: #ebe7df;
}
section #secprin{
	position: absolute;
	top: 0px;
	left: 220px;
	width: 960px;
	height: 767px;
	background: url(../img/yes.jpg);
}
section #secprin ul#fotos{
	position: absolute;
	top: 35px;
	left: 0px;
	width: 960px;
	height: 731px;
}
section #secprin ul#fotos li{
	position: relative;
	float: left;
	width: 300px;
	height: 269px;
	margin: 49px 10px;
	cursor: pointer;
}
section #secprin ul#titu{
	position: relative;
	top: 29px;
	left: 0px;
	width: 960px;
	height: 49px;
}
section #secprin ul#titu p{
	position: relative;
	font-size: 27px;
	float: left;
	top: 0px;
	left: 6px;
	width: 316px;
	height: 49px;
}
section #secprin ul#titu button{
	position: absolute;
	float: left;
	top: 0px;
	left: 850px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	color: #bcb5a7;
	background: #ebe7df;
	border: 1px solid #bcb5a7;
}
section #secprin ul#titud{
	position: relative;
	top: 342px;
	left: 0px;
	width: 960px;
	height: 49px;
}
section #secprin ul#titud p#dos{
	position: relative;
	font-size: 27px;
	float: left;
	top: 0px;
	left: 6px;
	width: 316px;
	height: 49px;
}
section #secprin ul#titud button#bdos{
	position: absolute;
	float: left;
	top: 0px;
	left: 850px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	color: #bcb5a7;
	background: #ebe7df;
	border: 1px solid #bcb5a7;
}
/*=============================================
SECCIONFREE
=============================================*/
section#free{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 235px;
	background: #ebe7df;
}
section#free #moni{
	position: absolute;
	top: 27px;
	left: 218px;
	width: 480px;
	height: 185px;
}
section#free #moni ul li{
	float: left;
	width: 220px;
	height: 185px;
	margin: 0px 10px;
	background: #dfdbd4;
}
section#free #moni ul li h1{
	float: left;
	margin: 31px 15px;
	width: 105px;
	height: 15px;
	font-size: 13px;
}
section#free #moni ul li p{
	float: left;
	margin: -19px 18px;
	width: 173px;
	height: 114px;
	font-size: 13px;
	text-align: left;
}
section#free #cjds{
	position: absolute;
	top: 27px;
	left: 709px;
	width: 460px;
	height: 185px;
	background: #dfdbd4;
}
section#free #cjds ul li{
	position: relative;
	top: 25px;
	margin: 4px 0px;
	width: 460px;
	height: 135px;
}
section#free #cjds ul li h1{
	margin: 0px 10px;
	font-size: 15px;
}
section#free #cjds ul li p{
	margin: 18px 18px;
	width: 425px;
	height: 34px;
	font-size: 13px;
}
section#free #cjds ul li img{
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	width: 36px;
	height: 36px;
}
/*=============================================
BOTTOM
=============================================*/
#bottom{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 247px;
	background: url(../img/coll.jpg);
}
#bottom ul{
	position: absolute;
	top: 0px;
	left: 253px;
	width: 891px;
	height: 246px;
}
#bottom ul li{
	float: left;
	width: 281px;
	height: 246px;
	margin: 0px 8px;
}
#bottom ul li h1{
	float: left;
	margin: 48px 9px;
	width: 248px;
	height: 0px;
	font-size: 14px;
	color: white;
}
#bottom ul li p{
	position: relative;
	text-align: justify;
	color: white;
	top: -11px;
	left: 0px;
	width: 250px;
	height: 217px;
	margin: 0px 11px;
	font-size: 13px;
}
#bottom ul li ul#igao{
	position:absolute;
	top: 80px;
	left: 630px;
	width: 252px;
	height: 130px;
}
#bottom ul li ul#igao li{
	position: relative;
	width: 76px;
	height: 56px;
	margin: 4px 4px;
}
/*=============================================
BOTTEM
=============================================*/
#bottem{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 118px;
	background: #242424;
}
#bottem #linen{
	position: absolute;
	top: 38px;
	left: 270px;
	width: 250px;
	height: 36px;
}
#bottem #linen ul#ema li{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 250px;
	height: 36px;
}
#bottem #linen ul#ema li form{
	float: left;
}
#bottem #linen ul#ema li form input#email{
	float: left;
	width: 214px;
	height: 36px;
	background: #2e2e2e;
	border: 0;
	font-style: italic;
	text-align: center;
}
#bottem #linen ul#ema li form input#flecha{
	position: absolute;
	float: left;
	width: 38px;
	height: 36px;
	background: white;
	border: 0;
}
#bottem #linen ul#redes{
	position: relative;
	top: 2px;
	left: 644px;
	width: 222px;
	height: 36px;
}
#bottem #linen ul#redes li{
	float: left;
	width: 38px;
	height: 36px;
	margin: 0px 3px;
}
#bottem #linen ul#redes li:first-child{background: url(../img/incfk.jpg);
	background-size: cover;
}
#bottem #linen ul#redes li:nth-child(2){background: url(../img/inctw.jpg);
	background-size: cover;
}
#bottem #linen ul#redes li:nth-child(3){background: url(../img/incgo.jpg);
	background-size: cover;
}
#bottem #linen ul#redes li:nth-child(4){background: url(../img/incin.jpg);
	background-size: cover;
}
#bottem #linen ul#redes li:last-child{background: url(../img/onc...jpg);
	background-size: cover;
}
#bottem #linen ul#redes li a{float: left;
	width: 38px;
	height: 36px;
}
/*=============================================
FOOTER
=============================================*/
footer{
	position: relative;
	margin: auto;
	width: 1400px;
	height: 89px;
	background: #2e2e2e;
}
footer ul{
	position: absolute;
	top: 0px;
	left: 226px;
	width: 180px;
	height: 89px;	
}
footer ul li{
	text-align: left;
	position: relative;
	top: 26px;
	left: 4px;
	color: white;
	font-size: 14px;
}
footer ul#linh{
	position: absolute;
	top: 0px;
	left: 835px;
	width: 337px;
	height: 89px;
}
footer ul#linh li{
	text-align: left;
	position: relative;
	top: 34px;
	left: 3px;
	color: white;
	font-size: 14px;
}